<div class="container">
  <form [formGroup]="registerForm" (ngSubmit)="submit()">
    <h3>
      @if (cursoExiste) {
        Editar Curso
      }@else {
        Registrar Curso
      }
    </h3>
    <hr />
    <label for="name"><b>Nombre</b></label>
    <input type="text" formControlName="nombre" placeholder="Introduzca la materia" class="form-control"
      [ngClass]="{'is-valid': registerForm.get('nombre')?.valid && (registerForm.get('nombre')?.dirty || registerForm.get('nombre')?.touched), 'is-invalid': registerForm.get('nombre')?.invalid && (registerForm.get('nombre')?.dirty || registerForm.get('nombre')?.touched)}" />

    <div class="invalid-feedback" *ngIf="registerForm.get('nombre')?.invalid && (registerForm.get('nombre')?.dirty || registerForm.get('nombre')?.touched)">
      <div *ngIf="registerForm.get('nombre')?.errors?.['minlength']">
        Introduzca un nombre con 5 caracteres mínimo
      </div>
      <div *ngIf="registerForm.get('nombre')?.errors?.['required']">
        Introduzca un nombre válido por favor
      </div>
    </div>

    <br>
    <div class="text-end">
      <button type="submit" [disabled]="registerForm.invalid" class="btn btn-primary ms-2">
        @if (cursoExiste) {
          Actualizar Curso
        }@else {
          Registrar Curso
        }
      </button>
      <button type="button" class="btn btn-light" routerLink="/mostrarCursos">
        Cancelar
      </button>
    </div>
  </form>
</div>
