<h2 class = "mb-5"> Mis Cursos</h2>
<div class = "text-end">
  <div class="btn-group">
    <button class = "btn btn-primary" routerLink = "/nuevoCurso">
      Nuevo Curso
    </button>
    <button class="btn btn-warning">
      Buscar
    </button>
  </div>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>NOMBRE</th>
    </tr>
  </thead>
  <tbody>
    @for(curso of cursos1; track curso.id){
      <tr>
        <td>{{ curso.id }}</td>
        <td>{{ curso.nombre }}</td>
        <td class="text-end">
          <div class="btn-group">
            <button class="btn btn-primary" [routerLink]="['/mostrarCursos',curso.id, 'editar']">
              Editar
            </button>
            <button class="btn btn-danger" (click)="deleteCurso(curso)">
              Eliminar
            </button>
          </div>
        </td>
      </tr>
    }
  </tbody>
</table>
